In [2]:
import pandas as pd
import numpy as np
my_df = pd.read_csv('dog_data_short.csv')

In [3]:
my_df.loc[2]

Breed       BELG MALINOIS
Color             BRINDLE
DogName              EICH
OwnerZip            15238
Name: 2, dtype: object

In [4]:
my_df.iloc[3]

Breed             MIXED
Color       BLACK/BROWN
DogName           ARROW
OwnerZip          15104
Name: 3, dtype: object

In [5]:
my_df.loc[1, 'DogName']

'TACODA'

In [6]:
my_df.loc[[1, 3], ['DogName', 'Breed']]

  DogName         Breed
1  TACODA  GER SHEPHERD
3   ARROW         MIXED