In [1]:
import pandas as pd
import numpy as np
my_df = pd.read_csv('dog_data.csv')

In [3]:
my_df[(my_df['Color'] == 'BROWN') & (my_df['Breed'] == 'MIXED')]

      Breed  Color        DogName  OwnerZip
42    MIXED  BROWN         STELLA     15044
272   MIXED  BROWN           HANK     15220
371   MIXED  BROWN          TEDDY     15136
402   MIXED  BROWN      GEORGIOUS     15212
505   MIXED  BROWN        HERSHEY     15071
523   MIXED  BROWN  MINDY MAZUREK     15037
572   MIXED  BROWN          STEVE     15229
584   MIXED  BROWN           BEAR     15122
602   MIXED  BROWN          CHLOE     15106
818   MIXED  BROWN         PEANUT     15025
943   MIXED  BROWN        DEE DEE     15031
946   MIXED  BROWN           SAGE     15035
948   MIXED  BROWN          BELLA     15035
995   MIXED  BROWN         MISTER     15139
1006  MIXED  BROWN        VANESSA     15065
1042  MIXED  BROWN           JACK     15223
1123  MIXED  BROWN         BUDDIE     15122
1195  MIXED  BROWN         COOPER     15071
1204  MIXED  BROWN            POE     15044
1211  MIXED  BROWN          EPPEY     15218
1258  MIXED  BROWN           BLUE     15235
1322  MIXED  BROWN         PHOEBE     15025
1466  MIXED  BROWN          JAXIE     15229
1476  MIXED  BROWN          PIPPA     15122
1659  MIXED  BROWN         ISABEL     15044
1780  MIXED  BROWN         WILBUR     15202
1798  MIXED  BROWN           PINO     15139
1847  MIXED  BROWN         MICKEY     15227
2180  MIXED  BROWN           KONA     15102
2351  MIXED  BROWN          BELLA     15209
2393  MIXED  BROWN         PEANUT     15143
2403  MIXED  BROWN           TOBY     15237
2430  MIXED  BROWN           LUCY     15229
2441  MIXED  BROWN          CASEY     15120
2524  MIXED  BROWN         PEANUT     15227
2562  MIXED  BROWN           JEFF     15146
2581  MIXED  BROWN           BRAX     15143
2597  MIXED  BROWN         BAILEY     15065

In [4]:
len(my_df[(my_df['Color'] == 'BROWN') & (my_df['Breed'] == 'MIXED')])

38

In [5]:
my_df[(my_df['Color'] == 'BROWN') | (my_df['Breed'] == 'MIXED')]

                   Breed        Color           DogName  OwnerZip
0               COCKAPOO        BROWN           CHARLEY     15236
3                  MIXED  BLACK/BROWN             ARROW     15104
12      AM PITT BULL MIX        BROWN              KING     15235
15                 MIXED        WHITE             RUSTY     15120
25            BEAGLE MIX        BROWN  CHRISTINA "TINA"     15025
...                  ...          ...               ...       ...
2657        GER SHEPHERD        BROWN             SARAH     15239
2658               MIXED        WHITE              LUNA     15017
2660              PUGGLE        BROWN              MACY     15044
2663  LABRADOR RETRIEVER        BROWN              NINO     15102
2665        GOLDENDOODLE        BROWN           WINSLOW     15044

[506 rows x 4 columns]

In [6]:
len(my_df[(my_df['Color'] == 'BROWN') | (my_df['Breed'] == 'MIXED')])

506

In [ ]:
my_df[(my_df['Color'] == 'BROWN') & (my_df['Breed'] == 'MIXED')]