In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
my_series = [5, 9, 15, 57]
my_var = pd.Series(my_series)
my_var

0     5
1     9
2    15
3    57
dtype: int64

In [5]:
my_var[0]

5

In [6]:
my_index = ['A', 'B', 'C', 'D']
my_var2 = pd.Series(my_series, my_index)
my_var2

A     5
B     9
C    15
D    57
dtype: int64

In [10]:
my_var2['C']

15

In [12]:
cars = {'Tesla': 12, 'Mercedes': 42, 'BMW': 3}
my_var3 = pd.Series(cars)
my_var3

Tesla       12
Mercedes    42
BMW          3
dtype: int64

In [13]:
my_var3['Tesla']

12